<ul class="xtMapMarkerPreview">
	<li><img src="styles/default/xt/membermap/map_markers/blue-dot.png" data-xf-click="xtSetIcon"></li>
	<li><img src="styles/default/xt/membermap/map_markers/white-dot.png" data-xf-click="xtSetIcon"></li>
	<li><img src="styles/default/xt/membermap/map_markers/red-dot.png" data-xf-click="xtSetIcon"></li>
	<li><img src="styles/default/xt/membermap/map_markers/orange-dot.png" data-xf-click="xtSetIcon"></li>
	<li><img src="styles/default/xt/membermap/map_markers/purple-dot.png" data-xf-click="xtSetIcon"></li>
</ul>