<xf:title>{{ phrase('confirm_action') }}</xf:title>

<xf:form action="{{ link('xt-api-logs/delete', $log) }}" class="block" ajax="true">
    <div class="block-container">
        <div class="block-body">
            <xf:inforow rowtype="confirm">
                {{ phrase('please_confirm_that_you_want_to_delete_following:') }}
                <strong>
                    {$log.User}: <br />
                    {$log.request_url_short}
                </strong>
            </xf:inforow>
        </div>
        <xf:submitrow rowtype="simple" icon="delete" />
    </div>
</xf:form>