<xf:title>{{ phrase('xt_mm_change_markerPin') }}</xf:title>

<xf:js addon="XT/Membermap" src="xt/membermap/changeMarker{{ $xf.versionId >= 2030000 ? '-xf23' : '' }}.js" min="1" />
<xf:wrap template="account_wrapper" />

<xf:form action="{{ link('account/xt-membermap') }}" ajax="true" class="block" data-force-flash-message="on">
	<div class="block-container">
		<div class="block-body">
			<div id="accountMap" class="xt-membermap"
				 data-xf-init="xtMembermap"
				 data-mapurl="{{ link('account/xt-membermap') }}" 
				 data-user-lat="{$userLat}"
				 data-user-long="{$userLong}">
			</div>
		</div>
		<xf:submitrow icon="save" sticky="true" />
	</div>

	<xf:redirect />
</xf:form>