<xf:macro name="xt_mm_ShowOnMap" arg-hint="" arg-canViewXtMembermap="!" arg-location_image="">
	<xf:css src="xt_mm.less" />
	<xf:js addon="XT/Membermap" src="xt/membermap/changeMarker{{ $xf.versionId >= 2030000 ? '-xf23' : '' }}.js" min="1" />
	<xf:formrow>
		<xf:checkbox hint="{{ $hint ? $hint : ''  }}">
			<xf:option value="1" name="profile[xt_mm_show_on_map]" checked="{$xf.visitor.Profile.xt_mm_show_on_map}"
					label="{{ phrase('xt_mm_show_on_map') }}"
					hint="{{ phrase('xt_mm_show_on_map_explain') }}" 
					/>
		</xf:checkbox>
		<div>
			<div class="xt-mm-minimappreview js-xt-mm-relocate">
				{{ xt_minimap($xf.visitor, 's') }}
			</div>
		</div>
	</xf:formrow>
</xf:macro>

<xf:macro name="xt_mm_ShowOnMapRegister" arg-hint="" arg-canViewXtMembermap="!">
	<xf:checkboxrow hint="{{ $hint ? $hint : ''  }}">
		<xf:option name="profile[xt_mm_show_on_map]"
				   label="{{ phrase('xt_mm_show_on_map') }}"
				   hint="{{ phrase('xt_mm_show_on_map_explain') }}" />
	</xf:checkboxrow>
</xf:macro>